{% if entry is defined and entry.section.handle == 'towns' %}
  {% set hero_image = entry.townImage.one() %}
  {% set hero_headline = entry.title %}
{% else %}
  {% set hero_image = siteHero.siteHero.one() %}
  {% set hero_headline = 'Find your hidden gem in Texas.' %}
  {% set hero_tagline = 'Highlighting small Texas towns across the state. Some known, many unknown.' %}
{% endif %}


<div class="bg-gray-900">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="{{ siteUrl }}" class="-m-1.5 p-1.5">
          <span class="font-bold text-white">Small Town, Texas</span>
        </a>
      </div>

      <div class="flex gap-x-2 lg:gap-x-12 items-center">
        <a href="{{ siteUrl }}about" class="text-sm font-semibold leading-6 text-white">About</a>
        <span class="text-white lg:hidden">|</span>
        <a href="{{ siteUrl }}locations/" class="text-sm font-semibold leading-6 text-white">Parts of Texas</a>

      </div>

    </nav>
  </header>
  <hgroup class="relative grid isolate overflow-hidden max-h-96">
    {% include '_components/hero-image.component.twig' with { 'image': hero_image }%}
    <section class="col-span-full row-span-full p-8 bg-[#351800] bg-opacity-75 flex justify-center items-center">
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">{{ hero_headline }}</h1>
        {% if hero_tagline is defined %}
          <p class="mt-6 text-lg leading-8 text-gray-300">{{ hero_tagline }}</p>
        {% endif %}
      </div>
    </section>
  </hgroup>
</div>
