{% if entry is defined and entry.section.handle == 'towns' %}
  {% set hero_image = entry.townImage.one().url %}
  {% set hero_title = entry.townImage.one().title %}
  {% set hero_headline = entry.title %}
{% else %}
  {% set hero_image = siteHero.siteHero.one().url %}
  {% set hero_title = siteHero.siteHero.one().title %}
  {% set hero_headline = 'Find your hidden gem in Texas.' %}
  {% set hero_tagline = 'Highlighting small Texas towns across the state. Some known, many unknown.' %}
{% endif %}
<div class="bg-gray-900">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="{{ siteUrl }}" class="-m-1.5 p-1.5">
          <span class="font-bold text-white">Small Town, Texas</span>
        </a>
      </div>
      <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="{{ siteUrl }}about" class="text-sm font-semibold leading-6 text-white">About</a>

        <a href="{{ siteUrl }}locations/" class="text-sm font-semibold leading-6 text-white">Parts of Texas</a>

        <a href="#" class="text-sm font-semibold leading-6 text-white">All Towns</a>

      </div>

    </nav>
  </header>
  <div class="relative grid isolate overflow-hidden max-h-96">
    <img src="{{ hero_image }}" alt="{{ hero_title }}" class="col-span-full row-span-full max-h-96 object-cover object-center w-full" role="presentation">
    <div class="col-span-full row-span-full p-8 bg-[#351800] bg-opacity-75 flex justify-center items-center">
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">{{ hero_headline }}</h1>
        {% if hero_tagline is defined %}
          <p class="mt-6 text-lg leading-8 text-gray-300">{{ hero_tagline }}</p>
        {% endif %}
      </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </div>
</div>
